/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/build/
/Kurssistatistiikka/.gradle/
/HelloCucumber/.nb-gradle/
/LoginCucumber/.nb-gradle/
/HelloCucumber/build/
/LoginCucumber/build/
/WebLogin/.nb-gradle/
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/.gradle/
/MockitoDemo/.gradle/
/HelloCucumber/.gradle/
/LoginCucumber/.gradle/
/WebLogin/.gradle/
/Kurssistatistiikka/.gradle/
/MatkakorttiMockito/build/